

.logo{
    position: relative;
    padding: 15px;
    width: 10%;
    /* background-color: green; */
    display: flex;justify-content: center;
    align-items: center;

}
.logo-img{
    width: 50px;
    height: auto;
}